/* место для вашего кода */

/* Шапка */

.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 84px 0px 91px 0px;
}

.header__links__list{
    display: flex;
    gap: 33px;
    font-size: 18px;
    margin-left: 51px;
    list-style: circle;
}

.links__list__main{
    list-style: none;
}

.link__item__active{
    text-decoration: none;
    border: none;
}

.menu__link{
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__logo{
    margin-top: 7px;
    width: 150px;
    height: 106px;
}

.address{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
}

.header__address{
    margin-left: 186px;
}

.footer__address{
    margin-left: 50px;
}

.address__link{
    text-decoration: none; 
    border-bottom: 1px solid black;
    padding-top: 1px; 
    padding-bottom: 1px;
    width: 133px;
}

.address__location{
    padding-top: 4px;
}

/* Блок cover*/

.cover{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: black;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url(../images/cover.jpg);
    color: white;
    z-index: 0;
}

.overlay{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    pointer-events: none; /* позволяет кликам проходить сквозь оверлей */
    z-index: -1; 
    width: 100%;
    height: 100%;
    
}

.cover__title{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    white-space: pre-line; /*указывает браузеру, как обрабатывать пробелы в тексте.*/
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 79px;
    line-height: 115px;
    font-size: 100px;
}

.cover__title__text{
    display: flex;
    letter-spacing: 0.3em;  /*задаёт межбуквенное расстояние — интервал между символами в тексте.*/
}
.cover__title__text__left{
    padding-left: 50px;
    padding-top: 130px;
}

.cover__title__text__center{
    padding-left: 380px;
}

.cover__title__text__right{
    padding-left: 665px;
}

.cover__description{
    display: flex;
}

.cover__description__text{
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
    padding-top: 41px;
    margin-bottom: 63px;
    padding-left: 50px;
    color: white;
}

.cover__bet__button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    width: 256px;
    height: 51px;
    margin-top: 29px;
    margin-left: 105px;
    font-size: 22px;
}

/* Блок Лоты*/

.lots__heading{
    font-size: 40px; 
    padding: 178px 0 0px 65px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.lots__card__list{
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between; /* Распределяет карточки по доступному пространству */
    gap: 24px;
    padding: 17px 24px 0 24px;
    list-style-type: none;
    z-index: 0;
}

.lots__card__link{
    text-decoration: none;
}

.lots__card__list__item{
    width: 334px;
    background-color: black;
}

.lots__card {
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: flex-start; /* Выравниваем элементы по левому краю */
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.lots__card__film {
    background-image: url(../images/card-lot-01.jpg);
}

.lots__card__book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
}

.lots__card__picture{
    background-image: url(../images/card-lot-03.jpg);
}

.lots__card__title {
    text-align: left; /* Выравнивание заголовка по левому краю */
    font-size: 22px;
    padding: 48px 40px 39px 40px;
    color: white;
    text-transform: uppercase; /* Все с заглавной буквы */
    text-decoration: underline; /* Подчеркивание текста */
}

.lots__card__text {
    color: white;
    font-size: 20px;
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 0 40px 45px 40px; /* Убираем верхний отступ, чтобы текст был ближе к заголовку */
}

.lots__look__more__link{
    display: flex;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 62px;
    text-decoration: none;
    border-bottom: 1px solid black;
    width: 193px;
}

/* Блок Об аукционе*/


.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about__column{
    margin-top: 252px;
}

.about__logo__column{
    margin-top: 153px;
    margin-left: 71px;
}

.about__logo__container{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    border-radius: 100%;
    width: 240px;
    height: 240px;
}

.about__logo{
    width: 150px;
    height: 115px;
}

.about__title{
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 103px;
    padding-left: 15px;
}

.about__text{
    font-size: 20px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 22px;
}

/*блок подвала*/

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 160px;
    padding-bottom: 90px;
}

.footer__menu__list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    text-align: center;
    font-size: 18px;
}

.footer__social__list{
    display: flex;
    justify-content: start;
    list-style: none;
    gap: 48px;
    padding-left: 78px;
}

.footer__social__icon{
    width: 48px;
}





